
header{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    background-color: var(--cor1);
    padding: 10px 20px;
}
#span_instru{
    position: relative;
    background-color: var(--cor3);
    color: #fff;
    font-weight: 700;
    padding: 5px 10px 5px 10px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px #00000077;
    cursor: pointer;
}

#div_instru > ul{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80%;
    height: 300px;
    align-items: flex-start;
    justify-content: space-evenly;
    border: 2px solid var(--cor3);
    box-shadow: -15px 15px 20px #000000a1;
    border-radius: 7.5px;
    z-index: 1;
}
.menu_none{
    display: none !important;
}
#visib{
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--cor3);
    padding: 5px;
    border: 1px solid var(--cor3);
    border-radius: 50%;
    box-shadow: 0px 0px 5px #00000098;
    cursor: pointer;
}

.div_form{
    flex-direction: row;
}
.div_form > div{
    width: 40%;
}

.palco{
    width: 100%;
}